<html layout:decorate="~{usr/layout/layout.html}" xmlns:layout="http://www.thymeleaf.org">

<head>
    <title>게시글</title>
</head>

<body>

<main layout:fragment="main">
    <table class="table">
        <thead class="table-dark">
        <tr>
            <th>번호</th>
            <th>내용</th>
            <th>작성일시</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="comment, loop : ${commentList}">
            <td th:text="${loop.count}"></td>
            <td>
                <a th:href="@{|/usr/board/detail/${comment.id}|}" th:text="${comment.content}"></a>
            </td>
            <td th:text="${#temporals.format(comment.createDate, 'yyyy-MM-dd')}"></td>
        </tr>
        </tbody>
    </table>
</main>


</body>

</html>
