<html layout:decorate="~{usr/layout/layout.html}" xmlns:layout="">

<head>
    <title>모임 상세</title>
</head>

<body>

<main layout:fragment="main">

<h1 th:text="${meeting.subject}"></h1>
<div th:text="${meeting.member.username}"></div>
<div th:text="${#temporals.format(meeting.createDate, 'yyyy-MM-dd HH:mm')}"></div><br><br>

<div th:text="|모집 인원 : ${meeting.capacity}명|"></div>
<div th:text="|모임 일시 : ${meeting.dateTime}|"></div>
<div th:text="|모임 장소 : ${meeting.location}|"></div><br>

<div> 모임 소개</div>
<div th:text="${meeting.content}"></div><br><br>

<div th:text="|현재 참여자 수 : ${meeting.participantsCount} / ${meeting.capacity}|"></div><br><br>

<a th:if="${@rq.login} and ${@rq.getMember().username} != ${meeting.member.username}" class="btn btn-primary" th:href="@{|/usr/chat/rooms/${meeting.chatRoom.id}|}">참여하기</a>
<a th:if="${@rq.login} and ${@rq.getMember().username} == ${meeting.member.username}" class="btn btn-primary" th:href="@{|/usr/chat/rooms/${meeting.chatRoom.id}|}">채팅방으로 이동</a>
<a th:href="@{|/usr/meeting/modify/${meeting.id}|}" th:if="${@rq.login} and ${@rq.getMember().username} == ${meeting.member.username}" class="btn btn-primary">수정</a>
<a th:href="@{|/usr/meeting/${meeting.id}|}" th:if="${@rq.login} and ${@rq.getMember().username} == ${meeting.member.username}" class="btn btn-primary">삭제</a>
</main>

</body>
</html>