<html layout:decorate="~{usr/layout/layout.html}" xmlns:layout="">

<head>
    <title>모임 상세</title>
    <style>
        .top-buttons {
            display: flex;
            justify-content: flex-end;
            margin-right: 10px;
            margin-top: 10px;
        }

        .detail {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 50px;
        }

        .bottom-buttons {
            display: flex;
            justify-content: center;
            margin-top: 30px;
        }
    </style>
</head>

<body>

<main layout:fragment="main">
    <div class="dropdown" th:if="${@rq.login} and ${@rq.getMember().username} == ${meeting.member.username}">
        <label tabindex="0" class="btn btn-ghost btn-circle">
            <i class="fa-solid fa-bars"></i>
        </label>
        <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-64">
            <li>
                <a th:href="@{|/usr/meeting/chatMembers/${meeting.id}|}">
                    <span>참여자 목록</span>
                </a>
            </li>
            <li>
                <a th:href="@{|/usr/meeting/modify/${meeting.id}|}">수정</a>
            </li>
            <li>
                <form th:action="@{|/usr/meeting/${meeting.id}|}"
                      method="post" onsubmit="if ( !confirm('모임을 삭제하시겠습니까?') ) return false; disconnect()">
                    <input type="hidden" name="_method" value="delete">
                    <button>삭제</button>
                </form>
            </li>
        </ul>
    </div>

    <div class="detail">
        <h1 th:text="${meeting.subject}"></h1>
        <div th:text="${meeting.member.username}"></div>
        <div th:text="${#temporals.format(meeting.createDate, 'yyyy-MM-dd HH:mm')}"></div><br><br>

        <div th:text="|모집 인원 : ${meeting.capacity}명|"></div>
        <div th:text="|모임 날짜 : ${meeting.date}|"></div>
        <div th:text="|모임 시간 : ${meeting.time}|"></div>
        <div th:text="|모임 장소 : ${meeting.location}|"></div><br>

        <div th:text="|모임 소개 : ${meeting.content}|"></div><br><br>

        <div th:text="|현재 참여자 수 : ${meeting.participantsCount} / ${meeting.capacity}|"></div><br><br>
    </div>
    <div class="bottom-buttons">
        <a th:if="${@rq.login} and ${@rq.getMember().username} != ${meeting.member.username}"
           class="btn btn-primary btn-wide" th:href="@{|/usr/chat/rooms/${meeting.chatRoom.id}|}">참여하기</a>
        <a th:if="${@rq.login} and ${@rq.getMember().username} == ${meeting.member.username}"
           class="btn btn-primary btn-wide" th:href="@{|/usr/chat/rooms/${meeting.chatRoom.id}|}">채팅방으로 이동</a>
        <a class="btn" th:href="@{/usr/meeting/list}">목록</a>
    </div>
</main>

</body>
</html>