<html layout:decorate="~{usr/layout/layout.html}" xmlns:layout="">

<head>
  <title>모임 등록</title>
  <style>
    main, main div {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 25px;
    }
  </style>
</head>

<body>

<main layout:fragment="main">
  <script>
    // Get the current date
    var today = new Date();

    // Calculate tomorrow's date
    var tomorrow = new Date(today);
    tomorrow.setDate(tomorrow.getDate() + 1);

    // Format tomorrow's date as yyyy-mm-dd
    var tomorrowFormatted = tomorrow.toISOString().split('T')[0];

    // Set the min attribute of the date input to tomorrow's date
    document.addEventListener('DOMContentLoaded', function() {
      var dateInput = document.getElementById('date');
      dateInput.setAttribute('min', tomorrowFormatted);
    });
  </script>

  <h1 class="my-3 border-bottom pb-2">모임 등록</h1>
  <form th:object="${meetingForm}" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    </div>
    <div class="mb-3">
      <label for="subject" class="form-label" hidden>제목</label>
      <input type="text" th:field="*{subject}" size="40" class="form-control" placeholder="모임 제목을 입력하세요." required autofocus/>
    </div>
    <div class="mb-3">
      <label for="capacity" class="form-label">모집인원</label>
      <input type="number" min="3" max="20" th:field="*{capacity}" class="form-control" required>
    </div>
    <div class="mb-3">
      <label for="location" class="form-label">장소</label>
      <input type="text" maxlength="20" th:field="*{location}" class="form-control" required>
    </div>
    <div class="mb-3">
      <label for="date" class="form-label">날짜</label>
      <input type="date" th:field="*{date}" class="form-control" required>
    </div>
    <div class="mb-3">
      <label for="time" class="form-label">시간</label>
      <input type="time" th:field="*{time}" class="form-control" required>
    </div>
    <div class="mb-3">
      <label for="content" class="form-label" hidden>모임소개</label>
      <textarea th:field="*{content}" class="form-control" rows="5" cols="50" placeholder="모임을 소개해주세요 :)" required></textarea>
    </div>

    <div class="submit-button">
      <input type="submit" value="등록하기" class="btn btn-primary my-2">
    </div>
  </form>
</main>

</body>
</html>