<html layout:decorate="~{usr/layout/layout.html}" xmlns:layout="">

<head>
    <title>모임</title>
    <style>
        .table {
            display: flex;
            justify-content: center;
            margin-top: 50px;
        }

        .header {
            display: flex;
            justify-content: flex-end;
            margin-right: 10px;
            margin-top: 10px;
        }
    </style>
</head>

<body>

<main layout:fragment="main">
    <div class="header">
    <a th:href="@{/usr/meeting/create}" class="btn btn-primary">모임 등록하기</a>
    </div>

    <div style="display: flex; justify-content: center;">
        <table class="table">
            <thead class="table-dark">
            <tr>
                <th>제목</th>
                <th>날짜</th>
                <th>시간</th>
                <th>모집위치</th>
                <th>모집인원</th>
                <th>작성자</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="meeting, loop : ${meetingList}">
                <td>
                    <a th:href="@{|/usr/meeting/detail/${meeting.id}|}" th:text="${meeting.subject}"></a>
                </td>
                <td th:text="${meeting.date}"></td>
                <td th:text="${meeting.time}"></td>
                <td th:text="${meeting.location}"></td>
                <td th:text="|${meeting.participantsCount} / ${meeting.capacity}|"></td>
                <td th:text="${meeting.member.username}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</main>

</body>

</html>