<html layout:decorate="~{usr/layout/layout.html}" xmlns:layout="http://www.thymeleaf.org">

<head>
  <title>미팅</title>
</head>

<body>

<main layout:fragment="main">
  <table class="table">
    <thead class="table-dark">
    <tr>
      <th>번호</th>
      <th>제목</th>
      <th>작성일시</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="meeting, loop : ${meetingList}">
      <td th:text="${loop.count}"></td>
      <td>
        <a th:href="@{|/usr/meeting/detail/${meeting.id}|}" th:text="${meeting.subject}"></a>
      </td>
      <td th:text="${#temporals.format(meeting.createDate, 'yyyy-MM-dd')}"></td>
    </tr>
    </tbody>
  </table>
</main>


</body>

</html>
