
<html xmlns:layout="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 제이쿼리 불러오기 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <!-- toastr 불러오기 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
    <link rel="stylesheet" href="https://jhs512.github.io/toastr/toastr.css">

    <!-- 썸어트폰-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <!-- 공통 JS 불러오기 -->
    <script src="/resource/common/common.js"></script>
    <!-- 공통 CSS 불러오기 -->
    <link rel="stylesheet" href="/resource/common/common.css">
</head>
<body>
<!-- 데이지 UI 불러오기 -->
<link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.5/dist/full.css" rel="stylesheet" type="text/css"/>
<!-- 테일윈드 불러오기 -->
<script src="https://cdn.tailwindcss.com"></script>

<!-- 공통 상단 -->
<header style="display: flex; justify-content: space-between; align-items: center; background-color: #f1f1f1; padding: 10px;">
    <div>
        <a href="/usr/main/home" style="text-decoration: none; margin-right: 10px; color: #333333;">Flex Gym</a>
        <a href="/usr/meeting/list" style="text-decoration: none; margin-right: 10px; color: #333;">모임</a>
        <a href="/usr/board/list" style="text-decoration: none; margin-right: 10px; color: #333;">커뮤니티</a>
        <a href="/usr/information/info" style="text-decoration: none; margin-right: 10px; color: #333;">운동영상</a>
        <a href="/usr/member/me" style="text-decoration: none; margin-right: 10px; color: #333;">마이페이지</a>
        <a href="/usr/chat/rooms" style="text-decoration: none; margin-right: 10px; color: #333;">채팅방</a> <!-- 임시로 사용 중 -->

    </div>
    <div>
        <a href="/usr/member/login" th:if="${@rq.logout}" style="text-decoration: none; margin-right: 10px; color: #333;" class="btn btn-link">로그인</a>
        <a href="/usr/member/join" th:if="${@rq.logout}" style="text-decoration: none; margin-right: 10px; color: #333;" class="btn btn-link">회원가입</a>

        <a th:if="${@rq.login}" href="javascript:" onclick="$(this).next().submit();" style="text-decoration: none; margin-right: 10px; color: #333;" class="btn btn-link">
            <i class="fa-solid fa-arrow-right-from-bracket"></i> 로그아웃
        </a>
        <form th:if="${@rq.login}" hidden th:action="|/usr/member/logout|" method="POST"></form>
        <form th:if="${@rq.login}" hidden th:action="|/member/logout|" method="POST"></form>
        <span th:if="${@rq.login}" th:text="|${@rq.member.username}님 환영합니다.|"></span>
    </div>
</header>



<main layout:fragment="main"></main>
<script th:inline="javascript">
    // 타임리프 문법(파라미터, ? 뒤에 입력된 매개변수들)
    const params = /*[[ ${param} ]]*/ null;
    if (params.msg) {
        toastNotice(params.msg[0]);
    }
    if (params.errorMsg) {
        toastWarning(params.errorMsg[0]);
    }
    // history.back 에 의해서 돌아온 경우에 실행됨
    // 평소에도 실행됨
    $(window).bind("pageshow", function (event) {
        const localStorageKeyAboutHistoryBackErrorMsg = "historyBackErrorMsg___" + location.href;
        if (localStorage.getItem(localStorageKeyAboutHistoryBackErrorMsg)) {
            toastWarning(localStorage.getItem(localStorageKeyAboutHistoryBackErrorMsg));
            localStorage.removeItem(localStorageKeyAboutHistoryBackErrorMsg);
        } else if ( !document.referrer ) {
            const localStorageKeyAboutHistoryBackErrorMsg = "historyBackErrorMsg___null";
            if (localStorage.getItem(localStorageKeyAboutHistoryBackErrorMsg)) {
                toastWarning(localStorage.getItem(localStorageKeyAboutHistoryBackErrorMsg));
                localStorage.removeItem(localStorageKeyAboutHistoryBackErrorMsg);
            }
        }
    });
</script>
</body>
</html>