<html layout:decorate="~{usr/layout/layout.html}" xmlns:layout="">

<head>
    <title>게시글 상세</title>

    <style>
        .title-container {
            border: 1px solid #dddddd;
            border-radius: 10px;
            padding: 20px;
            margin-top: 5px;
        }
        .title-text {
            text-align: left;
        }
        .info-container {
            border: 1px solid #dddddd;
            border-radius: 10px;
            padding: 5px;
            margin-top: 50px;
            font-size: 13px;
            width: 150px;
        }
        .category-container {
            border: 1px solid #dddddd;
            margin-left: auto;
            text-align: center;
            border-radius: 10px;
            padding: 5px;
            margin-top: 5px;
            font-size: 13px;
            width: 150px;
            background-color: darkslateblue;
        }
        .content-container{
            border: 1px solid #dddddd;
            background-color: darkslateblue;
            margin-left: auto;
            height: calc(100vh - 500px);
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

    </style>
</head>

<body>

<main layout:fragment="main">
    <div class="info-container">
        <div th:text="${board.member.username}"></div>
        <div th:text="${#temporals.format(board.createDate, 'yyyy-MM-dd HH:mm')}"></div>
    </div>
    <div class="title-container">
        <div class="category-container">
            <div th:text="${board.category == '1' ? '운동일지' : (board.category == '2' ? '상체운동' : (board.category == '3' ? '하체운동' : (board.category == '4' ? '바디프로필' : (board.category == '5' ? '식단' : ''))))}"></div>
        </div>
        <h1 class="title-text" th:text="${board.title}"></h1>
    </div>

    <div>
        <div class="content-container" th:text="${board.content}"></div>
    </div>

    <div class="detail">
        <div class="my-3">
            <a onclick="return confirm('좋아요 하시겠습니까?');" class="btn btn-sm btn-outline-secondary"
               th:href="@{|/usr/board/like/${board.id}|}" th:if="${#authorization.expression('isAuthenticated()')}">
                좋아요
                <span class="badge rounded-pill bg-success" th:text="${board.boardLikes.size()}"></span>
            </a>

            <div th:if="${#authorization.expression('isAuthenticated()') and board.member.username == #authentication.principal.username}">
                <!-- 게시글 수정 -->
                <a th:href="@{|/usr/board/modify/${board.id}|}" class="btn btn-sm btn-outline-secondary" th:text="수정"></a>

                <a onclick="return confirm('정말로 삭제하시겠습니까?');" th:href="@{|/usr/board/delete/${board.id}|}"
                   class="btn btn-sm btn-outline-secondary" th:text="삭제"></a>
            </div>
        </div>

        <h5 class="border-bottom my-3 py-2"
            th:text="|${#lists.size(board.comments)}개의 댓글이 있습니다.|"></h5>

        <div th:id="|comment_${comment.id}|" class="card my-3" style="border: 1px solid #ccc;" th:each="comment : ${board.comments}">
            <div class="card-body" th:unless="${comment.parent != null}">
                <div class="card-text" th:utext="${comment.content}"></div>
                <div classclass="d-flex justify-content-end">
                    <div th:if="${comment.modifyDate != null}" class="badge bg-light text-dark p-2 text-start mx-3">
                        <div class="mb-2">수정 날짜</div>
                        <div th:text="${#temporals.format(comment.modifyDate, 'yyyy-MM-dd HH:mm')}"></div>
                    </div>
                    <div class="badge bg-light text-dark p-2 text-start">
                        <div class="mb-2">
                            <span th:if="${comment.member != null}" th:text="${comment.member.username}"></span>
                        </div>
                        <div th:text="${#temporals.format(comment.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                    </div>
                </div>
                <div class="my-3">
                    <a onclick="return confirm('좋아요 누르시겠습니까?');" class="recommend btn btn-sm btn-outline-secondary"
                       th:href="@{|/comment/like/${comment.id}|}">
                        좋아요
                        <span class="badge rounded-pill bg-success" th:text="${#lists.size(comment.commentLikes)}"></span>
                    </a>
                    <a th:href="@{|/comment/modify/${comment.id}|}" class="btn btn-sm btn-outline-secondary"
                       th:text="수정"></a>
                    <a onclick="return confirm('정말로 삭제하시겠습니까?');" th:href="@{|/comment/delete/${comment.id}|}"
                       class="btn btn-sm btn-outline-secondary"
                       th:text="삭제"></a>
                </div>
            </div>

            <!--        대댓글 반복 시작-->
            <div th:each="childComment : ${comment.childComments}">
                <div class="card-body" style="margin-left: 30px;">
                    <div class="card-text" th:utext="${childComment.content}"></div>
                    <div class="d-flex justify-content-end">
                        <div th:if="${childComment.modifyDate != null}" class="badge bg-light text-dark p-2 text-start mx-3">
                            <div class="mb-2">수정 날짜(대댓글)</div>
                            <div th:text="${#temporals.format(childComment.modifyDate, 'yyyy-MM-dd HH:mm')}"></div>
                        </div>

                        <div class="badge bg-light text-dark p-2 text-start">
                            <div class="mb-2">

                                <span th:if="${childComment.member != null}" th:text="${childComment.member.username}"></span>
                            </div>
                            <div th:text="${#temporals.format(childComment.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                        </div>
                    </div>
                    <div class="my-3">
                        <a onclick="return confirm('좋아요 누르시겠습니까?');" class="recommend btn btn-sm btn-outline-secondary"
                           th:href="@{|/comment/like/${childComment.id}|}">
                            좋아요
                            <span class="badge rounded-pill bg-success" th:text="${#lists.size(childComment.commentLikes)}"></span>
                        </a>

                        <a th:href="@{|/comment/modify/${childComment.id}|}" class="btn btn-sm btn-outline-secondary"
                           sec:authorize="isAuthenticated()"
                           th:if="${comment.member != null and #authentication.getPrincipal().getUsername() == childComment.member.username}"
                           th:text="수정"></a>
                        <a onclick="return confirm('정말로 삭제하시겠습니까?');" th:href="@{|/comment/delete/${childComment.id}|}"
                           class="btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
                           th:if="${comment.member != null and #authentication.getPrincipal().getUsername() == childComment.member.username}"
                           th:text="삭제"></a>
                    </div>
                </div>
            </div>

            <!--         대댓글 작성 폼-->
            <div th:if="${comment.parent == null and #authorization.expression('isAuthenticated()')}">
                <form th:action="@{|/comment/create/${board.id}|}" method="post" class="my-3" style="margin-left: 30px;">
                    <textarea required maxlength="200" placeholder="내용(200자 이하)" name="content" rows="2" class="form-control"></textarea>
                    <input type="hidden" name="parentId" th:value="${comment.id}">
                    <input type="submit" value="댓글 등록" class="btn btn-primary my-2">
                </form>
            </div>
        </div>


    </div>
    <!--    댓글 작성   -->
    <div class="detail">
        <form th:action="@{|/comment/create/${board.id}|}" th:object="${commentForm}" method="post" class="my-3">
            <!--        <div th:replace="~{form_errors :: formErrorsFragment}"></div>-->

            <textarea sec:authorize="isAnonymous()" disabled required maxlength="20000" placeholder="로그인 후 이용해주세요."
                      th:field="*{content}" rows="10" class="form-control"></textarea>
            <textarea sec:authorize="isAuthenticated()" required maxlength="20000" placeholder="내용(20,000자 이하)"
                      th:field="*{content}" rows="10" class="form-control"></textarea>

            <input sec:authorize="isAnonymous()" disabled type="submit" value="댓글등록" class="btn btn-primary my-2">
            <input sec:authorize="isAuthenticated()" type="submit" value="댓글등록" class="btn btn-primary my-2">
        </form>
    </div>
</main>

</body>




</html>