<html layout:decorate="~{usr/layout/layout.html}" xmlns:layout="http://www.thymeleaf.org">

<head>
    <title>게시글</title>
</head>

<body>

<main layout:fragment="main">

    <div>
        <h3>카테고리에 따라 게시글을 확인하세요.</h3>
        <ul>
            <li th:each="entry : ${category}" style="display: inline-block; margin-right: 10px;">
                <a th:href="@{|/usr/board/list?kw=${entry.key}|}" th:text="${entry.value}"></a>
            </li>
        </ul>

        <!-- 인기글보기 버튼 -->
        <a th:href="@{/usr/board/popular}" class="btn btn-primary">인기글보기</a>
    </div>

    <table class="table">
        <thead class="table-dark">
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성일시</th>
            <th>작성자</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="board, loop : ${boardList}">
            <td th:text="${loop.count}"></td>
            <td>
                <a th:href="@{|/usr/board/detail/${board.id}|}" th:text="${board.title}"></a>
            </td>
            <td th:text="${#temporals.format(board.createDate, 'yyyy-MM-dd')}"></td>
            <td th:text="${board.member.username}"></td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/usr/board/create}" class="btn btn-primary">게시글 등록하기</a>
</main>


</body>

</html>
