<html layout:decorate="~{usr/layout/layout.html}" xmlns:layout="">

<head>
    <meta charset="UTF-8">
    <title>모임 등록</title>
</head>

<body>

<main layout:fragment="main">
    <h5 class="my-3 border-bottom pb-2">게시글 등록</h5>
    <form th:action="@{/usr/board/create}" th:object="${boardForm}" method="post">
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
            <div th:each="err : ${#fields.allErrors()}" th:text="${err}" />
        </div>
        <div class="mb-3">
            <label for="title" class="form-label">제목</label>
            <input type="text" th:field="*{title}" class="form-control">
        </div>

        <div class="mb-3">
            <div>&lt;카테고리&gt;</div>
            <div th:each="cate : ${category}">
                <input type="checkbox" th:field="*{category}" th:value="${cate.key}" />
                <label th:for="${#ids.prev('category')}" th:text="${cate.value}" />
            </div>
        </div>

<!--        <div class="mb-3">-->
<!--            <div>&lt;카테고리&gt;</div>-->
<!--            <div th:each="cate : ${category}">-->
<!--                <input type="checkbox" th:field="*{category}" th:value="${cate}" />-->
<!--                <label th:for="${#ids.prev('category')}" th:text="${cate}" />-->
<!--            </div>-->
<!--        </div>-->

        <div class="mb-3">
            <label for="content" class="form-label">내용</label>
            <textarea th:field="*{content}" class="form-control" rows="10"></textarea>
        </div>
        <input type="submit" value="등록하기" class="btn btn-primary my-2">
    </form>
</main>

</body>
</html>