<html layout:decorate="~{usr/layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <title>회원가입</title>
</head>

<body>

<main layout:fragment="main" style="height: 100vh; display: flex; justify-content: center; align-items: center;">
    <script>
        function JoinFormDto__submit(form) {
            // username 이(가) 올바른지 체크

            form.username.value = form.username.value.trim(); // 입력란의 입력값에 있을지 모르는 좌우공백제거

            if (form.username.value.length == 0) {
                toastWarning('아이디를 입력해주세요.');
                form.username.focus();
                return;
            }

            if (form.username.value.length < 4) {
                toastWarning('아이디를 4자 이상 입력해주세요.');
                form.username.focus();
                return;
            }

            // password 이(가) 올바른지 체크

            form.password.value = form.password.value.trim(); // 입력란의 입력값에 있을지 모르는 좌우공백제거

            if (form.password.value.length == 0) {
                form.password.focus();
                toastWarning('비밀번호를 입력해주세요.');
                return;
            }

            if (form.password.value.length < 4) {
                toastWarning('비밀번호를 4자 이상 입력해주세요.');
                form.password.focus();
                return;
            }

            form.passwordValidation.value = form.passwordValidation.value.trim();

            if (form.passwordValidation.value.length == 0) {
                form.passwordValidation.focus();
                toastWarning('비밀번호 확인을 입력해주세요.');
                return;
            }


            if (form.passwordValidation.value !== form.password.value) {
                form.passwordValidation.focus();
                toastWarning('비밀번호가 일치하지 않습니다.');
                return;
            }

            form.submit(); // 폼 발송
        }

    </script>
    <div class="max-w-2xl w-full px-4">
        <h1 class="mb-4">
            <i class="fa-solid fa-arrow-right-to-bracket"></i>
            회원가입
        </h1>

        <div class="relative flex justify-center text-sm">
            <span>회원가입에 필요한 기본정보를 입력해주세요.</span>
        </div>

        <form th:action method="POST" class="flex flex-col gap-6" onsubmit="JoinFormDto__submit(this); return false;">
            <div class="form-control">
                <label class="label">
                    <span class="label-text">아이디</span>
                </label>
                <input type="text" name="username" placeholder="아이디" class="input input-bordered" autofocus/>
            </div>

            <div class="form-control">
                <label class="label">
                    <span class="label-text">비밀번호</span>
                </label>
                <input type="password" name="password" placeholder="비밀번호" class="input input-bordered"/>
            </div>

            <div class="form-control">
                <label class="label">
                    <span class="label-text">비밀번호 확인</span>
                </label>
                <input type="password" name="passwordValidation" placeholder="비밀번호 확인" class="input input-bordered"/>
            </div>

            <div class="flex justify-center">
                <div class="flex items-center p-2 text-sm leading-none">
                    <a class="px-6 font-medium text-blue-500 hover:text-blue-400" target="_blank" href="">서비스이용약관</a>
                    <div class="inline-block h-3 w-0.5 bg-gray-200"></div>
                    <a class="px-6 font-medium text-blue-500 hover:text-blue-400" target="_blank" href="">Flex Gym</a>
                </div>
            </div>

            <button id="btn-login-1" class="btn btn-block btn-primary gap-1">
                <i class="fa-solid fa-arrow-right-to-bracket"></i>
                <span>회원가입</span>
            </button>

            <p class="flex items-center justify-center space-x-1 text-sm">
                <span>이미 회원이신가요?</span>
                <a class="flex items-center text-blue-500 underline hover:text-blue-400" href="/usr/member/login">로그인</a>
            </p>

        </form>
    </div>
</main>
</body>

</html>