<html layout:decorate="~{usr/layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <title>로그인</title>
    <style>
        .hr-sect {
            display: flex;
            flex-basis: 100%;
            align-items: center;
            color: rgba(255, 255, 255, 0.35);
            font-size: 20px;
            margin: 8px 0px;
        }
        .hr-sect::before,
        .hr-sect::after {
            content: "";
            flex-grow: 1;
            background: rgba(255, 255, 255, 0.35);
            height: 1px;
            font-size: 0px;
            line-height: 0px;
            margin: 0px 16px;
        }
    </style>
</head>

<body>

<main layout:fragment="main" style="height: 100vh; display: flex; justify-content: center; align-items: center;">
    <!-- 기존 내용 -->
    <script>
        function LoginForm__submit(form) {
            // username 이(가) 올바른지 체크

            form.username.value = form.username.value.trim(); // 입력란의 입력값에 있을지 모르는 좌우공백제거

            if (form.username.value.length == 0) {
                toastWarning('아이디를 입력해주세요.');
                form.username.focus();
                return;
            }

            if (form.username.value.length < 4) {
                toastWarning('아이디를 4자 이상 입력해주세요.');
                form.username.focus();
                return;
            }

            // password 이(가) 올바른지 체크

            form.password.value = form.password.value.trim(); // 입력란의 입력값에 있을지 모르는 좌우공백제거

            if (form.password.value.length == 0) {
                form.password.focus();
                toastWarning('비밀번호를 입력해주세요.');
                return;
            }

            if (form.password.value.length < 4) {
                toastWarning('비밀번호를 4자 이상 입력해주세요.');
                form.password.focus();
                return;
            }

            form.submit(); // 폼 발송
        }
    </script>

    <div class="max-w-2xl w-full px-4">
        <h1 class="mb-4" style="text-align: center; font-size: 32px; font-family: 'Arial', sans-serif; font-weight: bold;">
            <i class="fa-solid fa-arrow-right-to-bracket"></i>
            Flex Gym
        </h1>

        <form th:action method="POST" class="flex flex-col gap-6" onsubmit="LoginForm__submit(this); return false;">
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">아이디</span>
                    </label>
                    <input type="text" name="username" placeholder="아이디" class="input input-bordered" autofocus/>
                </div>

                <div class="form-control">
                    <label class="label">
                        <span class="label-text">비빌번호</span>
                    </label>
                    <input type="password" name="password" placeholder="비빌번호" class="input input-bordered"/>
                </div>

                <button id="btn-login-1" class="btn btn-block btn-primary gap-1">
                    <i class="fa-solid fa-arrow-right-to-bracket"></i>
                    <span>로그인</span>
                </button>

            <div class="hr-sect">간편 로그인</div>

            <a href="/oauth2/authorization/kakao" class="btn btn-block btn-outline gap-1" style="background-color: yellow;">
                <i class="fa-solid fa-comment" style="color: #333333;"></i>
                <span style="color: #333333;">카카오 로그인</span>
            </a>
        </form>
    </div>
</main>
</body>

</html>